@use '../../styles/variables.scss' as v;

.header {
    position: relative;
    width: 100%;
    max-width: 1024px;
    padding: 5rem 4rem 2rem 4rem;
    margin: 0 auto;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
        display: flex;
        gap: 2rem;
        .link {
            padding: 0.5rem 0;
            &:hover {
                color: var(--primary-red);
            }
        }
    }
    .hamburger {
        display: none;
        z-index: 10;
    }
    .backdrop {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: var(--neutral-blue-dark);
        opacity: 0;
        z-index: -1;
        transition: opacity 0.5s ease-in-out;
    }
}

@media screen and (max-width: v.$breakpoint-tablet) {
    .container {
        .nav {
            display: flex;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            top: 0;
            right: calc(100% * (2/3) * -1);
            width: calc(100% * (2/3));
            max-width: 320px;
            height: 100vh;
            padding: 0 2rem 25vh 2rem;
            background-color: var(--neutral-white);
            font-size: 2em;
            transition: right 0.5s ease-in-out;
            z-index: 8;
            &.open {
                right: 0;
            }
        }
        .hamburger {
            cursor: pointer;
            display: block;
        }
        .backdrop {
            &.open {
                z-index: 6;
                opacity: 0.5;
            }
        }
    }
}

@media screen and (max-width: v.$breakpoint-handheld) {
    .header {
        padding: 2rem 1rem;
    }

    .container {
        .nav {
            font-size: 1.5em;
        }
    }
}