@use '../../styles/variables.scss' as v;

.header {
    width: 100%;
    max-width: 1024px;
    padding: 5rem 4rem 2rem 4rem;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
        display: flex;
        gap: 2rem;
        .link {
            padding: 0.5rem 0;
            &:hover {
                color: var(--primary-red);
            }
        }
    }
    .hamburger {
        display: none;
        z-index: 10;
    }
}

@media screen and (max-width: v.$breakpoint-tablet) {
    .container {
        .nav {
            display: none;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            top: 0;
            right: 0;
            width: calc(100% * (2/3));
            max-width: 320px;
            height: 100vh;
            padding: 0 2rem 25vh 2rem;
            background-color: var(--neutral-white);
            font-size: 2em;
            &:after {
                content: '';
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                background-color: var(--neutral-blue-dark);
                opacity: 0.5;
                z-index: -1;
            }
            &.open {
                display: flex;
            }
        }
        .hamburger {
            cursor: pointer;
            display: block;
        }
    }
}

@media screen and (max-width: v.$breakpoint-handheld) {
    .header {
        padding: 2rem 1rem;
    }

    .container {
        .nav {
            font-size: 1.5em;
        }
    }
}